@import "/css/sidebar.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: var(--overall-background);
    color: #fff;

    font-family: var(--font-family);
}

button {
    color: #fff;

    font-family: var(--font-family);
}

:root {
    --overall-background: #242424;
    --frame-background: #2b2b2b;

    --button-background: #242424;
    --hover-button-background: #1d1d1d;

    --blue: #1f6aa5;
    --darker-blue: #144870;

    --border-radius: 3px;

    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}